.footer {
	@apply min-h-[10rem]
		bg-neutral-800
		text-neutral-400
    p-12
		flex
		gap-8
		flex-col
		items-center
		justify-center;
}

.name_wrapper {
	@apply w-full
	flex
	items-center
	justify-center
	gap-4;
	& span {
		@apply w-full
		border
		border-neutral-100
		rounded-custom
		hidden
		min-w-[5em]
		sm:inline;
	}
}

.name {
	@apply uppercase
	text-center
	font-mono
	md:flex-shrink-0
	lg:max-w-[70ch]
	md:max-w-[40ch]
	sm:max-w-[40ch]
	font-thin;
}

.icon {
	@apply min-w-[2em];
}
