.wrapper {
	position: relative;
	overflow: hidden;
	height: 100%;
	width: 100vw;
	display: flex;
}

.marquee {
	display: flex;
	postion: absolute;
	left: 0;
	top: 0;
	will-change: transform;
	animation: marquee 60s linear infinite;

	& span {
		margin: 3rem;
		white-space: nowrap;
	}
}

@keyframes marquee {
	0% {
		transform: translateX(0);
	}
	100% {
		transform: translateX(-100%);
	}
}

.icon {
	@apply h-full w-28;
}
